In [2]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split

In [5]:
train_data = pd.read_csv('Train.csv')
test_data = pd.read_csv('Test.csv')
submission_Data = pd.read_csv('Submission.csv')

In [6]:
train_data

,Holiday,Temperature,Rainfall_last_hour,Snowfall_last_hour,Cloud_Cover,Weather,Weather_Desc,TimeStamp,Date,Traffic_Vol
0,NaN,289.28,0.0,0.0,40,Cloudy skies,Partly cloudy skies,02/10/08 9:00,02/10/08,5555
1,NaN,290.26,0.0,0.0,75,Cloudy skies,Fragmented clouds,02/10/08 10:00,02/10/08,4525
2,NaN,290.28,0.0,0.0,90,Cloudy skies,Full cloud cover,02/10/08 11:00,02/10/08,4772
3,NaN,290.33,0.0,0.0,90,Cloudy skies,Full cloud cover,02/10/08 12:00,02/10/08,5031
4,NaN,292.14,0.0,0.0,75,Cloudy skies,Fragmented clouds,02/10/08 13:00,02/10/08,4928
...,...,...,...,...,...,...,...,...,...,...
38368,NaN,301.38,0.0,0.0,90,Cloudy skies,Full cloud cover,30/06/14 19:00,30/06/14,3252
38369,NaN,300.28,0.0,0.0,91,Cloudy skies,Full cloud cover,30/06/14 20:00,30/06/14,2941
38370,NaN,300.48,0.0,0.0,91,Cloudy skies,Full cloud cover,30/06/14 21:00,30/06/14,2703
38371,NaN,299.08,0.0,0.0,75,Cloudy skies,Fragmented clouds,30/06/14 22:00,30/06/14,2762
38372,NaN,298.22,0.0,0.0,40,Cloudy skies,Partly cloudy skies,30/06/14 23:00,30/06/14,2023